# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List popular libraries for Data Science
* List open source development environments for Data Science
* Evaluate arithemtic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. JavaScript
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow
4. SciPy

|Data Science Tools|
|-|
|JupyterLab|
|Apache Zeppelin|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Burkay TanÄ±r